@model SSN.Web.ViewModels.UserAcc.UserAccViewModel

<form enctype="multipart/form-data" method="post" asp-action="AddUser">
    <div class="row">
        <div class="col">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Specialty"></label>
            <select class="form-control" asp-for="Specialty" id="specialty" name="specialty">
                <option>Specialty</option>
                <option>Surgery</option>
                <option>Pediatrics</option>
                <option>Dermatology</option>
                <option>Cardiology</option>
                <option>Dermatologists</option>
                <option>Общопрактикуващ лекар</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>

    <hr />
    <input type="submit" class="btn btn-primary" />

</form>