@model SSN.Web.ViewModels.UserAcc.PhotoInUserAccViewModel

    
    

    <form enctype="multipart/form-data" method="post" asp-action="UploadPhoto">
        <label asp-for="Photo"></label>
        <input asp-for="Photo" class="form-control-file" id="exampleFormControlFile1">
        <button type="submit" class="btn btn-success btn-lg" value="search">ADD Image</button>
    </form>

    <form enctype="multipart/form-data" method="post" asp-action="UploadPhoto">
        <button type="submit" class="btn btn-success btn-lg" value="search">SAVE</button>
    </form>